.aboutInfo {
    margin-top: 7rem;

}

.info {
    text-align: left;
    padding: auto;
    
   

}
.profilePhoto {
    position: left bottom;

    border-radius: 50%;
    border: 15px solid #1e3233;
    width: 50%;
    height: auto;

}


h4::first-letter {
    font-family: Lucida Calligraphy;
    font-size: 3rem;
}
.profilePhoto:hover {
    transition-delay: .5s;
    transition-duration: 1s;
    transform: translateY(0) scale(1.2);
    
  }