.fab {
    font-size: 2rem;
    padding: 1.2rem;
}
.col h2 {
    line-height: 3rem;
}

.InputFile {
    width: 100%;
}

.icon i {
    color: #ffffff;
    }
.icon i:hover {
    color: #1e3233;
    font-size: 2rem;
    border-radius: 50%;
    border: 1px solid #fff;
    }