.columns {
    color: azure;
    background-color:  rgb(33 37 41);
    border: 2px outset rgba(202, 202, 202, 0.847);
    border-radius: 8px;
}
.card-text {
    text-align: justify;
    
}
.serviceCard:hover {
    box-shadow: 0 8px 16px 0 #fff;
}

.card-img-top:hover {
    transition-duration: 1s;
    transform: translateY(0) scale(1.1);
}