* {
  margin: 0;
  /* padding: 0; */
}

.swiperSlider {
  background: rgba(226, 215, 215, 0.871);
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 70px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 600px;
}


@media (max-width: 768px) {
  .swiper-slide {
    width: 250px;
    height: auto;
  }
}

.swiper-slide Image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.containers {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: rgb(245, 245, 245);
  display: block;
}

.containers .swiper-container {
  width: 80%;
  position: absolute;
  left: 60%;
  bottom: -16vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  padding-bottom: 3vw;
}

@media (max-width: 768px) {
  .containers .swiper-container {
    bottom: -58vw;
    padding-bottom: 8vw;
  }
}

.title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3vw 0 2vw 0;
}

@media (max-width: 768px) {
  .title_wrapper {
    padding-top: 13vw;
  }
}

.title_wrapper .reactLogo {
  width: 5vw;
  height: 5vw;
  margin-right: 1vw;
}

@media (max-width: 768px) {
  .title_wrapper .reactLogo {
    width: 25vw;
    height: 25vw;
  }
}

.title_wrapper .reactLogo Image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title_wrapper .title_ {
  color: #000000;
  text-align: center;
  font-size: 3vw;
  font-weight: 900;
}

@media (max-width: 768px) {
  .title_wrapper .title_ {
    font-size: 7vw;
  }
}

.title_wrapper .title_ span {
  display: block;
}

.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
}

.mySwiper .btn {
  position: absolute;
  top: 90%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(33 37 41);
  font-size: 16px;
  padding: 12px 24px;
  border: 1px solid red;
  cursor: pointer;
  border-radius: 9px;
  text-align: center;
}
.mySwiper .btn2 {
  position: absolute;
  top: 90%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(33 37 41);
  font-size: 16px;
  padding: 12px 24px;
  border: 1px solid red;
  cursor: pointer;
  border-radius: 9px;
  text-align: center;
}
